<h2>Ingresa tu nombre para entrar al chat!</h2>

<form method="POST" action="/chatLogin">
	<label for="name">Nombre:</label>
	<input type="text" name="name">

	<input type="submit" value="Enviar" >
</form>

<script src="/socket.io/socket.io.js"></script>